/* Basic styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#login-form,
#dashboard {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

input,
button,
select {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
}

button:hover {
  background-color: #2980b9;
}

#error-message {
  color: red;
  margin-top: 10px;
}
